<form class="new-post-form column-item" action="/new_post" method="post">
  {{ csrfField() }}
  @if(mainPost)
    <input type="hidden" name="parentPostId" value="{{ mainPost.id }}">
  @end
  <textarea class="new-post-textarea" name="body" maxlength="300" required placeholder="{{ reply ? "Post a reply..." : " Post something..." }}">
</textarea>
  <input type="submit" value="{{ reply ? "Post Reply" : "Post" }}" class="new-post-button">
</form>
