<div class="post column-item">
  <div class="post-header">
    <span class="post-author" style="background-color: {{ authorColor }};">{{ author }}</span><span class="post-date">{{ date }}</span>
  </div>
  <p class="post-body">{{ body }}</p>
</div>
