<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> The Microblog </title>

  @vite(['resources/js/app.js'])
</head>

<body>
  <div id="main-grid">
    <div id="center-column">
      @if(mainPost)
        @!component('components/post', { ...mainPost, main: true })
      @end
      @!component('components/postForm')
      @each(post in posts)
        @!component('components/post', post)
      @end
    </div>
  </div>
</body>

</html>
