<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> The Microblog </title>

  @vite(['resources/js/app.js'])
</head>

<body>
  <div id="main-grid">
    <div id="center-column">
      @!component('components/post', {
        author: "xYh23",
        body: "This is a very cool post wow asdfasdf asdf asdf asdf asd fasd fasd fas sgvdfg wertgh rwet herth erth er1",
        date: "10/14/1983, 1:30 PM"
      })
    </div>
  </div>
</body>

</html>
